<div class="container" id="datePage">
  <div class="topPad"></div>
  <div class="topBox">
    where do you want to stay?
  </div>
  <div>

    <div class="hotelContainer">

      <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
        <ion-slide>
          <div class="hotel">
            <div class="topDetails">
              <p class="hearts">
              <i class="icon ion-ios7-heart"></i>
              <i class="icon ion-ios7-heart"></i>
              <i class="icon ion-ios7-heart"></i> </p>
              £500 per person
            </div>
            <p class="hotelname">Mark's BnB</p>
          </div>
          <div class="events">
            <p>There is a Santana <b>music</b> concert 0.45 miles away!</p>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="hotelInfo">
            more stuff!
          </div>
        </ion-slide>
      </ion-slide-box>

    </div>

    <div class="hotelContainer">

      <div id="hotel1">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
          <ion-slide>
            <div class="hotel">
              <div class="topDetails">
                <p class="hearts">
                <i class="icon ion-ios7-heart"></i>
                <i class="icon ion-ios7-heart"></i>
                <i class="icon ion-ios7-heart"></i> </p>
                £500 per person
              </div>
              <p class="hotelname">Mark's BnB 2</p>
            </div>
            <div class="events">
              <p>There is a Santana <b>music</b> concert 0.45 miles away!</p>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="hotelInfo">
              more stuff!
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>

      <div id="hotel2">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
          <ion-slide>
            <div class="hotel">
              <div class="topDetails">
                <p class="hearts">
                <i class="icon ion-ios7-heart"></i>
                <i class="icon ion-ios7-heart"></i>
                <i class="icon ion-ios7-heart"></i> </p>
                £500 per person
              </div>
              <p class="hotelname">Mark's BnB</p>
            </div>
            <div class="events">
              <p>There is a Santana <b>music</b> concert 0.45 miles away!</p>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="hotelInfo">
              more stuff!
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>


    </div>






    <div class="hotelContainer">

      <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
        <ion-slide>
          <div class="hotel">
            <div class="topDetails">
              <p class="hearts">
              <i class="icon ion-ios7-heart"></i>
              <i class="icon ion-ios7-heart"></i>
              <i class="icon ion-ios7-heart"></i> </p>
              £500 per person
            </div>
            <p class="hotelname">Mark's BnB</p>
          </div>
          <div class="events">
            <p>There is a Santana <b>music</b> concert 0.45 miles away!</p>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="hotelInfo">
            more stuff!
          </div>
        </ion-slide>
      </ion-slide-box>

    </div>



  </div>
<!--     <div class="bottomBox" ng-show="nexts">swipe up to create package</div>
 -->

  </div>
</div>


