<div class="container" id="datePage">
  <div class="topPad"></div>
  <div class="topBox">
    when do you want to go? 
  </div>
  <div>
    <div class="day">
      <div class="dayContainer">
        <h1><span style="font-weight:normal">14</span></h1>
        <h2><span style="font-weight:normal!">saturday</span></h2>
      </div>
    </div>
    <div class="month">
      <div class="monthChild">
        June 2014
      </div>
    </div>
    <div class="days">
    
      <div class="row">
        <div class="col">MON</div>
        <div class="col">TUE</div>
        <div class="col">WED</div>
        <div class="col">THU</div>
        <div class="col">FRI</div>
        <div class="col">SAT</div>
        <div class="col">SUN</div>
      </div>

    </div>

    <div class="dayPick">
      <div class="row" ng-repeat="(k, dayline) in days track by dayline">
        <div class="col" ng-repeat="day in days[k] track by $index">
          <div 
            class="aday"
            id="d{{day}}" ng-click="clickDay(day)">{{ day }}</div>
        </div>
      </div>
    </div>

    <div class="bottomBox" ng-show="next" ng-click="sendData()">swipe up to create package</div>


  </div>
</div>


