
<div class="container" id="cityPage">
  <div class="topPad"></div>
  <div class="topBox">
    where do you want to go?
  </div>
  <div>
    <div class="scroller">
      <div class="city"
       
        ng-repeat="city in cities"
        ng-click="btnSelectCity(city.name)"
        ng-class="{'active' : selectedCity == city.name}" >
        <p>{{ city.name }}</p>
        <img src="img/cities/{{ city.file }}" width="320px" />
      </div>
    </div>

    <div class="bottomBox" ng-click="btnGoToBudget()" ng-show="next">
      swipe up to set budget
    </div>

  </div>
</div>
