<div id="daddy">

  <div class="container" id="cityPage" ng-show="true">
    <div class="topPad"></div>
    <div class="topBox">
      where do you want to go?
    </div>
    <div>
      <div id="chooseCity">
        <div class="city"
          ng-repeat="city in cities"
          ng-click="selectCity(city.name)"
          style="background: url(img/city.jpg) no-repeat top left">
          <p>ff {{ city.name }}</p>
        </div>
      </div>
      <div class="bottomBox" ng-click="goToBudget()">swipe up to set budget</div>
    </div>
  </div>

  <div class="container" id="budgetPage" ng-show="false">
    <div class="topPad"></div>
    <div class="topBox">
      where do you want to go?
    </div>
    <div>
      <div style="background:#333333;">
        some date stuff
      </div>
      <div class="bottomBox">swipe up to select date</div>
    </div>
  </div>

  <div class="container" id="datePage" ng-show="false">
    <div class="topPad"></div>
    <div class="topBox">
      where do you want to go?
    </div>
    <div>
      <div style="background:#333333;">
        some date stuff
      </div>
      <div class="bottomBox">swipe up to select date</div>
    </div>
  </div>


</div>