/* Empty. Add your own CSS if you like */

html, body {
  width:320px;
  height:568px;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #fff;
}

.page
{
  padding-top: 21px;
  box-sizing:border-box;
  height: inherit;
  background-size: cover;
  background: #383939;
}

.insidePadding
{
  padding: 0px 25px;
}
.container {
  width:320px;
  height:568px;
  overflow: hidden;
}

.topPad {
  min-height: 21px;
  background: #333333;
  display: block;
}

.topBox, .bottomBox {
  height: 32.5px;
  background: #16a59b;
  line-height: 32.5px;
  padding-left: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 15.8px;
  color: #fff;
  width: 100%;
}


.bottomBox {
  height: 46px;
  padding-left: none;
  line-height: 46px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  bottom: 0px;
}

.barTitle
{
  height: 32px;
  font-size: 16px;
  color: #FFF;
  margin: 20px 0px;
  padding: 0px 10px;
  line-height: 32px;
  text-transform: uppercase;
}


#chooseCity {
  max-height: 515px;
  overflow-y: scroll;
  padding-bottom: 46px;
}

.city {
  height: 155px;
  position: relative;
}

.city p {
  font-size: 35px;
  position: absolute;
  bottom: 8px;
  right: 6px;
  color: #fff;
  font-weight: 500;
}

/*
//
// ==================
// Choose Date
// ==================
//
*/

.day {
  height: 170px;
  width: 100%;
  background: #464949;
  display: table;
  text-align: center;
}

.dayContainer {
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.dayContainer h1, h2 {
  font-size: 100px;
  color: #fff;
  font-weight: normal!;
}

/**
 * JoinPage styles
 */
 #homePage,
 #joinPage
 {
  background: 
    url('backgrounds/join.png') 50%
     top no-repeat;
  background-size: 100%; 
 }
 
 #homePage .barTitle
 {
  background: #16a59b;
 }

 #joinPage .barTitle
 {
  background: #2c6599;
 }

 #logo
 {width: 160px;}

 #logoWrapper
 {padding-top: 50px;margin-bottom: 50px;}
 
 #logoWrapper > div 
 {float:left;}
 #logoWrapper:after
 {
  content: ' ';
  display: table;
  clear: both;
 }

 #name > h5,#name > h6, #name > h4
 {
  color: #FFF;
  text-transform: uppercase;
 }

 #id>h4
 {
  color: #2c6599;
 }

 #loginWithFacebook
 {
  width: 320px;
 }

 #logIn
 {
  background: url('backgrounds/joinButton.png') no-repeat scroll 50% top / 100% auto transparent;
  text-indent: -99999px;
  display: block;
  height: 211px;
  width: 169px;
  border: medium none;
  margin: 0px auto;
  margin-top: 40px;
 }


 /*
  * Homepage kurwy
  */
#menuWrapper
{
  position: relative;
  left: 120px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
  top : 60px;
}

#menuWrapper > div { float:left;}
#menuWrapper > .colSmall { width: 35px;}
#menuWrapper > .colBig { width: 220px;}
#menuWrapper  button
{
  display: block;
  background: #2f3131;
  color: #FFF;
  width: 60px;
  height: 60px;
  border: none;
}

#menuWrapper button > p
{
  text-transform: uppercase;
  font-size: 11px;
  position: relative;
  top: 5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menuWrapper #bookHoliday 
{
  background: #35a099;
  width: 120px;
  height: 120px;
}


#menuWrapper #infoApp{
  width: 35px;
  height: 35px;
  position: relative;
  top: 145px;
}

#menuWrapper #booking
{
  position: relative;
  left: 60px;
}

.dayContainer h2 {
  font-size: 35px;
}

.month {
  height: 47px;
  background: #666666;
  font-size: 21px;
  line-height: 47px;
  text-align: center;
  display: table;
  text-align: center;
  width: 100%;
}

.monthChild {
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.days {
  background: #16a59b;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: table;
}

.daysChild {
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.dayPick {
  height: 258px;
  background: #333333;
  color: #fff;
  text-align: center;
  margin-top: 15px; 
}

.col {
  text-align: center;
}

.dayPick .col {
  font-size: 15px;
}

.dayPick .row {
  margin-top: -15px
}

.aday {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
}

.selectFrom {
  background: #666666;
}

.selected {
  background: #16a59b;

}